<header class="navbar container"  [ngClass]="{'navbar-fixed': isFixedNavbar}">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
       <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
          <div class="navbar-logo" routerLink="/">
              <img src="assets/icons/bitcoin.png" alt="">
              <h1>Mr.BitCoin</h1>
          </div>
          <section class="mat-container">
              <button mat-icon-button class="navbar-toggle" (click)="toggleNavbar()">
                 <mat-icon  >{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
              </button>
          </section>
       </div>
       <div fxFlex class="top-navbar slide-bottom">
          <span fxFlex></span>
          <a mat-button (click)="closeMenue()" class="navbartop-btn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><strong>Home</strong></a>
          <a mat-button  (click)="closeMenue()" class="navbartop-btn" routerLink="/contacts" routerLinkActive="active"><strong>Contacts</strong></a>
          <a mat-button (click)="closeMenue()" class="navbartop-btn" routerLink="/statistic" routerLinkActive="active"><strong>Statistic</strong></a>
          <a mat-button (click)="closeMenue()" class="navbartop-btn" routerLink="/signup" routerLinkActive="active"><strong>Sign Up</strong></a>
          <!-- <a mat-button (click)="closeMenue()" class="navbartop-btn" routerLink="/about" routerLinkActive="active"><strong>About</strong></a> -->
       </div>

      </div>
   </header>
   <!-- <h3>Click the button to change its color!</h3>
  <button (click)="toggleIsCorrect()" [@toggleClick]="isGreen">Toggle Me!</button> -->
