.charts-container{
    display: flex;
    box-shadow: -1px 1px 8px rgb(0 0 0 / 27%);
    border-radius: 5px;
    padding: 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}