.moves-container {
    padding: 0 15px 15px 0;
    // background-color: whitesmoke;
    
    h1 {
        color: #333333;
        font-size: 25px;
        font-weight: bold;
        line-height: 54px;
    }

    ul{
        margin: 0;
        padding: 0;
        border-bottom: lightgray solid 1px;
        padding: 15px 15px 15px 0;
    }

    ul:first-of-type{
        border-top: lightgray solid 1px;
    }

    li{
        list-style-type: none;
    }
}