.moves-container {
    h1 {
        color: #333333;
        font-size: 25px;
        font-weight: bold;
        line-height: 54px;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style-type: none;
    }
}