<section *ngIf="contact" class="contact-details app-regular-padding">
    <section class="actions">
        <button class="button-87" (click)="onGoBack()">Back</button>
        <button class="button-87" (click)="onEdit()">Edit</button>
        <button class="button-87" (click)="removeContact()">Delete</button>
    </section>
    <section class="details">
        <img class="white-filter-img" src="assets/icons/contact.png" alt="">
        <section>
            <h1 class="decorate-h1">{{contact.name}}</h1>
            <p>{{contact.phone}}</p>
            <p>{{contact.email}}</p>
        </section>
    </section>
    <!-- <div>
    </div> -->
    <transfer-fund [contactName]="contact.name" [maxCoins]="maxCoins" (onTransfer)="onTransfer($event)"></transfer-fund>
    <moves-list [moves]="moves" [contactId]="contact._id"></moves-list>
</section>