.contact-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    box-shadow: -1px 1px 8px #00000045;
    border-radius: 3px;

    button {
        width: 2.5em;
        height: 2.5em;
    }

    .info {
        flex-grow: 1;
        position: relative;
        display: flex;
        padding: 15px;
        align-items: center;
        background-color: #151515;

        p{
            color: whitesmoke;
        }

        p:first-of-type {
            margin: 0;
            margin-bottom: 10px;
            font-size: 86%;
            font-weight: 600;
        }

        p:nth-of-type(2){
            font-size: 80%;
        }

        .data {
            flex-grow: 1;
        }

        img {
            width: 40%;
            margin-right: 10px;
            max-width: 200px !important;
        }

    }

    .actions {
        display: flex;
        gap: 10px;
        transition-duration: 0.3s;
        transition-property: transform, opacity;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        background-color: #f2a900;
        flex-direction: column;
        align-items: center;

        .remove-btn {
            color: #9575cd;
            cursor: pointer;
        }
    }

    &:hover .info .actions {
        opacity: 1;
        transform: translateX(-5);
    }
}