footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #151515;
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}