/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

button {
    font-family: inherit;
    padding: 6px;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
    text-transform: capitalize;

    * {
        pointer-events: none;
    }
}

input {
    font-family: inherit;
    text-align: inherit;
}

.decorate-h1{
    font-size: xx-large;
    font-weight: 600;
    background-image: linear-gradient(to left, #FF512F, #F09819);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

// .container {
//     padding-inline: 10vw;
// }

.app-regular-padding{
    margin: auto 10vw;
}

a.active {
    color: black !important;
    font-weight: 500;
}

@media (max-width: 1000px) {
    a.active {
        color: #f2a900 !important;
        font-weight: 500;
    }
}

.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

html, body { height: 100%; }
body { margin: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-color: floralwhite; }

[disabled]{
    cursor: not-allowed !important;
}